printf("TegraExplorer Script Haku33")
printf("Mounting SYSMMC...") 
mmc_connect("SYSMMC")
mmc_mount("SYSTEM")
if (@RESULT){
    printf("System failed to mount!")
    pause()
    exit()
}


setString("emmc:/save/", $basePath)

@count = setInt(1)
printf("Deleting SYSTEM")

fs_delRecursive("emmc:/saveMeta")
fs_mkdir("emmc:/saveMeta")

fs_openDir("emmc:/save")
setColor("RED")
@LOOP = getPosition()
fs_readDir()
if (@ISDIRVALID){
    combineStrings($basePath, $FILENAME, $path)

    setPrintPos(0, 17)
	
    @check = compareStrings($FILENAME, "8000000000000120")

    if (@check){
        goto(@LOOP)
    }

    @check = compareStrings($FILENAME, "80000000000000d1")

    if (@check){
        goto(@LOOP)
    }

    @check = compareStrings($FILENAME, "8000000000000047")

    if (@check){
        goto(@LOOP)
    }

	@count = math(@count, "+", 1)
    printf(@count, ": ", $FILENAME)
    fs_del($path)


    goto(@LOOP)
}


mmc_mount("USER")
printf("")
if (@RESULT){
    printf("User failed to mount!")
    pause()
    exit()
}
setColor("WHITE")

printf("Deleting USER")


printf("emmc:/Contents")
fs_delRecursive("emmc:/Contents")
fs_mkdir("emmc:/Contents")

printf("emmc:/Contents/placehld")
fs_mkdir("emmc:/Contents/placehld")
fs_mkdir("emmc:/Contents/registered")

printf("emmc:/save")
fs_delRecursive("emmc:/save")
fs_mkdir("emmc:/save")

printf("emmc:/saveMeta")
fs_delRecursive("emmc:/saveMeta")
fs_mkdir("emmc:/saveMeta")

printf("emmc:/temp")
fs_delRecursive("emmc:/temp")
fs_mkdir("emmc:/temp")

setColor("GREEN")
printf("")
printf("")
printf("Done! press any key to Power Off")

pause()
exit()