#REQUIRE KEYS
#   NCA Database         EXFAT              INDEX
is=["8000000000000120","8000000000000047","8000000000000000"]
p=println
pr=print
pe={hwfly() pause() exit()}
println("Haku33 Kronos2308 Hard Reset, Kronos2308 - Fork from TegraExplorer")
wait={t=timer()while(timer()<(t+tw)){print("Wait for",(t+tw-timer()/1000),"seconds \r")}}
emumenu={op=["Wipe Console","Wipe emunand only"].copy()r=menu(op,0)clear()if(r==0){p("Selected sysmmc")mount=mountsys}if(r==1){p("Selected emummc")mount=mountemu}}
hwfly={if(fsexists("sd:/payload.bin.bak")){copyfile("sd:/payload.bin.bak", "sd:/payload.bin")delfile("sd:/payload.bin.bak")}}

p("System wiper\n")
mount=mountsys
if (emu()){emumenu()}
if(mount("SYSTEM")){p("Mount failed!")pe()}
color(0xFF0000)
pr("Deleting system saves... ")
f=readdir("bis:/save")
if(f.folders.len()!=0){p("Folders in save dir???")pe()}
f.files.foreach("x"){if(!is.contains(x)){if(delfile("bis:/save/"+x)){p("File deletion failed: ", x)pe()}}}
pr("Done!\nDeleting user dirs...")ud=["Album","Contents","save","saveMeta","temp"]
if(mount("USER")){p("Mount failed!")pe()}
ud.foreach("x"){pr("\n"+x,"")if(deldir("bis:/"+x)){p("Dir deletion failed")pe()}mkdir("bis:/"+x)}
mkdir("bis:/Contents/placehld")mkdir("bis:/Contents/registered")
color(0x00FF00)
p("\n\nCleaning!")

movefile("sd:/Nintendo", "sd:/Hamburgesa_Nintendo")
movefile("sd:/Nintendo", "sd:/Hamburgesa_Nintendo_1")

delfile("sd:/TegraExplorer.bin")
delfile("sd:/startup.te")
delfile("sd:/Haku33.nro")
delfile("sd:/Switch/Haku33.nro")
delfile("sd:/Switch/Haku33/Haku33.nro")
hwfly()

p("\n\nDone!")
power(3)